.name {
  font-size: 3rem;
  color: white;
}

.width {
  width: auto;
}

.logo,
.img-slider {
  height: 250px; /* Set the desired height */
  object-fit: contain; /* Maintain aspect ratio while fitting within the specified height */
}
